%hr
= link_to t('delivery'), new_sklad_delivery_path(@sklad), class: params[:controller]
= link_to t('history_delivery'), new_sklad_delivery_path(@sklad)
= link_to t('transfer'), new_sklad_delivery_path(@sklad)
= link_to t('history_transfer'), new_sklad_delivery_path(@sklad)