%hr
= link_to t('delivery'), new_sklad_delivery_path(@sklad), class: params[:controller]
= link_to t('history_delivery'), deliveries_url
= link_to t('transfer'), new_transfer_url
= link_to t('history_transfer'), transfers_url