%h1 Приложение для складского учета товаров
%p
  * Можно создать склад. У склада есть уникальное название и не уникальный атрибут региона, который можно выбрать из 8 доступных федеральных округов РФ: Центральный, Северо-Западный, Южный, Северо-Кавказский, Приволжский, Уральский, Сибирский, Дальневосточный
%p
  * Можно создать товар, у которого есть уникальное название
%p
  * Можно создать доставку товара на склад, что увеличивает его количество на складе
%p
  * Можно создавать передачу товара между складами, что уменьшает его количество на исходном складе и увеличивает на целевом
%p
  * Можно редактировать и удалять товары
%p
  * Можно удалять склады                                                                                           	
